/*
app variables
 */

:root {
  /* font */
  --main-font: 'Orbitron', sans-serif;
  /* calculator styles */
  --calculator-background-color: #696969;
  --calculator-height: 72%;
  --calculator-width: 36%;
  /* display styles */
  --display-background-color: #1d1f1f;
  --display-text-color: #23e000;
  --display-text-size: 4em;
  --display-text-weight: 400;
  --display-height: 24%;
  --display-width: 92%;
  /* keypad styles */
  --keypad-height: 72%;
  --keypad-width: 96%;
  /* key styles */
  --number-key-color: #696969;
  --number-key-color-hover: #3f3f3f;
  --submit-key-color: #d18800;
  --submit-key-color-hover: #aa6e00;
  --action-key-color: #545454;
  --action-key-color-hover: #2a2a2a;
  --key-text-color: #d3d3d3;
  --key-text-size: 3em;
  --key-text-weight: 700;
}

/* media query for tablet or smaller screen */

@media screen and (max-width: 1024px) {
  :root {
    --calculator-height: 100%;
    --calculator-width: 100%;
    --display-text-size: 6em;
    --key-text-size: 6em;
  }
}

/* app CSS reset */

body, div, p {
  margin: 0;
  padding: 0;
}
